In [1]:
import pandas as pd
import numpy as np

!pip install xlrd

Requirement already satisfied: xlrd in c:\users\cocko\appdata\local\programs\python\python311\lib\site-packages (2.0.1)

[notice] A new release of pip available: 22.3.1 -> 23.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
#df = pd.read_excel("C:/User/Desktop/FDM/Assignment 3/Sample - Superstore.xlsx")

df = pd.read_excel("C:/Users/Group1/Downloads/Sample - Superstore.xlsx")

In [20]:

# Create an empty DataFrame to store the results
result_df = pd.DataFrame()

# List of regions and categories
regions = df['Region'].unique()
categories = df['Category'].unique()

# Calculate the total sales and profit for all categories in all regions
total_sales_all_categories = df['Sales'].sum()
total_profit_all_categories = df['Profit'].sum()


# Iterate through regions
for region in regions:
    # Filter the dataset based on the current region
    region_df = df[df['Region'] == region]

    # Calculate the total sales and profit for all categories in the current region
    total_sales_in_region_all_categories = region_df['Sales'].sum()
    total_profit_in_region_all_categories = region_df['Profit'].sum()

    # Iterate through categories in this region
    for category in categories:
        # Filter the dataset based on the current category
        category_df = region_df[region_df['Category'] == category]

        # Calculate the required values
        category_sales = category_df['Sales'].sum()
        category_profit = category_df['Profit'].sum()

        # Calculate the percentages
        sales_in_region_percentage = (category_sales / total_sales_in_region_all_categories) * 100
        sales_in_all_regions_percentage = (category_sales / total_sales_all_categories) * 100
        profit_in_region_percentage = (category_profit / total_profit_in_region_all_categories) * 100
        profit_in_all_regions_percentage = (category_profit / total_profit_all_categories) * 100
        profit_to_sales_ratio_percentage = (category_profit / category_sales) * 100


        # Create a DataFrame for the current row with all necessary columns
        row_data = pd.DataFrame({
            'Region': [region],
            'Category': [category],
            'Sales in Region / Total Sales in Region': [sales_in_region_percentage],
            'Sales in Region / Total Sales in All Regions': [sales_in_all_regions_percentage],
            'Profit in Region / Total Profit in Region': [profit_in_region_percentage],
            'Profit in Region / Total Profit in All Regions': [profit_in_all_regions_percentage],
            'Profit in Region / Sales in Region': [profit_to_sales_ratio_percentage]
        })

        # Concatenate the row to the result DataFrame
        result_df = pd.concat([result_df, row_data], ignore_index=True)

# Print or save the result DataFrame as needed
print(result_df)

     Region         Category  Sales in Region / Total Sales in Region  \
0     South        Furniture                                29.944377
1     South  Office Supplies                                32.076662
2     South       Technology                                37.978961
3     South              NaN                                 0.000000
4      West        Furniture                                34.821148
5      West  Office Supplies                                30.443293
6      West       Technology                                34.735559
7      West              NaN                                 0.000000
8   Central        Furniture                                32.678397
9   Central  Office Supplies                                33.322650
10  Central       Technology                                33.998952
11  Central              NaN                                 0.000000
12     East        Furniture                                30.686058
13     East  Office Supplies                                30.277215
14     East       Technology                                39.036727
15     East              NaN                                 0.000000
16      NaN        Furniture                                      NaN
17      NaN  Office Supplies                                      NaN
18      NaN       Technology                                      NaN
19      NaN              NaN                                      NaN

    Sales in Region / Total Sales in All Regions  \
0                                       5.106142
1                                       5.469742
2                                       6.476207
3                                       0.000000
4                                      10.996514
5                                       9.613988
6                                      10.969485
7                                       0.000000
8                                       7.130273
9                                       7.270846
10                                      7.418412
11                                      0.000000
12                                      9.067148
13                                      8.946343
14                                     11.534613
15                                      0.000000
16                                      0.000000
17                                      0.000000
18                                      0.000000
19                                      0.000000

    Profit in Region / Total Profit in Region  \
0                                   14.484040
1                                   42.752163
2                                   42.763797
3                                    0.000000
4                                   10.611617
5                                   48.524812
6                                   40.863571
7                                    0.000000
8                                   -7.230704
9                                   22.364123
10                                  84.866580
11                                   0.000000
12                                   3.328314
13                                  44.813520
14                                  51.858166
15                                   0.000000
16                                        NaN
17                                        NaN
18                                        NaN
19                                        NaN

    Profit in Region / Total Profit in All Regions  \
0                                         2.364273
1                                         6.978562
2                                         6.980461
3                                         0.000000
4                                         4.017133
5                                        18.369552
6                                        15.469312
7                                         0.000000
8                                        -1.002472
9                                         3.100584
10                                       11.765985
11                                        0.000000
12                                        1.063616
13                                       14.320882
14                                       16.572112
15                                        0.000000
16                                        0.000000
17                                        0.000000
18                                        0.000000
19                                        0.000000

    Profit in Region / Sales in Region
0                             5.772619
1                            15.906235
2                            13.437908
3                                  NaN
4                             4.554382
5                            23.821180
6                            17.581383
7                                  NaN
8                            -1.752808
9                             5.316512
10                           19.773595
11                                 NaN
12                            1.462455
13                           19.956873
14                           17.911961
15                                 NaN
16                                 NaN
17                                 NaN
18                                 NaN
19                                 NaN

C:\Users\cocko\AppData\Local\Temp\ipykernel_15180\545992196.py:36: RuntimeWarning: invalid value encountered in scalar divide
  profit_to_sales_ratio_percentage = (category_profit / category_sales) * 100
C:\Users\cocko\AppData\Local\Temp\ipykernel_15180\545992196.py:32: RuntimeWarning: invalid value encountered in scalar divide
  sales_in_region_percentage = (category_sales / total_sales_in_region_all_categories) * 100
C:\Users\cocko\AppData\Local\Temp\ipykernel_15180\545992196.py:34: RuntimeWarning: invalid value encountered in scalar divide
  profit_in_region_percentage = (category_profit / total_profit_in_region_all_categories) * 100

In [21]:

# Extract the year and quarter from the 'Order Date' column
df['Year'] = pd.to_datetime(df['Order Date']).dt.year
df['Quarter'] = pd.to_datetime(df['Order Date']).dt.quarter

# List of years in your data
years = df['Year'].unique()
years.sort()

# List of regions and categories
regions = df['Region'].unique()
categories = df['Category'].unique()

# Create an empty DataFrame to store the results
q_result_df = pd.DataFrame()

# Iterate through regions and categories to calculate Q1 sales vs. previous year and Q1 vs. Q2 for each year
for region in regions:
    for category in categories:
        row_data = {'Region': region, 'Category': category}
        for year in years:
            q1_sales = df[(df['Year'] == year) & (df['Quarter'] == 1) & (df['Region'] == region) & (df['Category'] == category)]['Sales'].sum()
            
            if year > min(years):
                prev_year_q1_sales = df[(df['Year'] == year - 1) & (df['Quarter'] == 1) & (df['Region'] == region) & (df['Category'] == category)]['Sales'].sum()
            else:
                prev_year_q1_sales = 0
            
            q2_sales = df[(df['Year'] == year) & (df['Quarter'] == 2) & (df['Region'] == region) & (df['Category'] == category)]['Sales'].sum()
            
            # Create columns for Q1 vs. Previous Year and Q1 vs. Q2 for each year
            row_data[f'Q1 {year} vs. Previous Year'] = q1_sales - prev_year_q1_sales
            row_data[f'Q1 vs. Q2 {year}'] = q2_sales - q1_sales
            
        # Create a DataFrame for the current combination of region and category
        row_df = pd.DataFrame([row_data])
        
        # Concatenate the row to the result DataFrame
        q_result_df = pd.concat([q_result_df, row_df], ignore_index=True)

# Print or save the result DataFrame as needed
print(q_result_df)

     Region         Category  Q1 2018.0 vs. Previous Year  Q1 vs. Q2 2018.0  \
0     South        Furniture                     8375.508        -4224.6820
1     South  Office Supplies                     3630.055         7980.0520
2     South       Technology                    32256.636       -25493.4660
3     South              NaN                        0.000            0.0000
4      West        Furniture                     5223.295         3597.7360
5      West  Office Supplies                     7131.852        -1090.9620
6      West       Technology                     2650.430         8030.9960
7      West              NaN                        0.000            0.0000
8   Central        Furniture                     4584.958         3471.6886
9   Central  Office Supplies                     2546.476         4178.8060
10  Central       Technology                     1469.248         1155.9680
11  Central              NaN                        0.000            0.0000
12     East        Furniture                     4472.378         2562.8680
13     East  Office Supplies                     1220.300         5647.1560
14     East       Technology                      886.660         6274.8030
15     East              NaN                        0.000            0.0000
16      NaN        Furniture                        0.000            0.0000
17      NaN  Office Supplies                        0.000            0.0000
18      NaN       Technology                        0.000            0.0000
19      NaN              NaN                        0.000            0.0000

    Q1 2019.0 vs. Previous Year  Q1 vs. Q2 2019.0  \
0                    -2130.1720          380.3675
1                     6011.1580        -4484.1400
2                   -31698.7420         3913.5340
3                        0.0000            0.0000
4                     5348.3510        -2570.5385
5                    -3389.0020         4220.6680
6                     6528.1360         1044.4380
7                        0.0000            0.0000
8                     1665.5296          462.6954
9                     -665.5300         7599.1200
10                    2167.6840         4148.9640
11                       0.0000            0.0000
12                    -165.7490         1918.2050
13                    6574.0850         1924.9990
14                    4158.1940         1714.1360
15                       0.0000            0.0000
16                       0.0000            0.0000
17                       0.0000            0.0000
18                       0.0000            0.0000
19                       0.0000            0.0000

    Q1 2020.0 vs. Previous Year  Q1 vs. Q2 2020.0  \
0                    -3226.2860          3193.374
1                    -2413.5090         -2186.833
2                    13129.0560         -6558.417
3                        0.0000             0.000
4                    -5451.1760         13338.697
5                     4516.8810         -2647.709
6                     1758.2480          4766.348
7                        0.0000             0.000
8                     2971.3634            42.685
9                     4118.7160          3125.028
10                    1353.2520          2380.055
11                       0.0000             0.000
12                    2681.3860           478.355
13                     159.4810          6853.010
14                    4788.0300         20060.527
15                       0.0000             0.000
16                       0.0000             0.000
17                       0.0000             0.000
18                       0.0000             0.000
19                       0.0000             0.000

    Q1 2021.0 vs. Previous Year  Q1 vs. Q2 2021.0  Q1 nan vs. Previous Year  \
0                    -1395.4200        10581.9265                       0.0
1                    -3225.0460         5133.3280                       0.0
2                    -5671.0560          -32.0220                       0.0
3                        0.0000            0.0000                       0.0
4                     1691.6770         4937.3805                       0.0
5                     6894.5110        -3248.1560                       0.0
6                    18017.6560        -7621.3650                       0.0
7                        0.0000            0.0000                       0.0
8                     1499.4172          358.5948                       0.0
9                    11332.1860        -5479.2680                       0.0
10                    7486.7570        -7470.6450                       0.0
11                       0.0000            0.0000                       0.0
12                   -2421.2460         5430.3870                       0.0
13                   -1210.2670         6082.9430                       0.0
14                   -3091.4900         1946.4080                       0.0
15                       0.0000            0.0000                       0.0
16                       0.0000            0.0000                       0.0
17                       0.0000            0.0000                       0.0
18                       0.0000            0.0000                       0.0
19                       0.0000            0.0000                       0.0

    Q1 vs. Q2 nan
0             0.0
1             0.0
2             0.0
3             0.0
4             0.0
5             0.0
6             0.0
7             0.0
8             0.0
9             0.0
10            0.0
11            0.0
12            0.0
13            0.0
14            0.0
15            0.0
16            0.0
17            0.0
18            0.0
19            0.0

In [22]:
merged_df = result_df.merge(q_result_df, on=['Region', 'Category'], how='inner')
merged_df

,Region,Category,Sales in Region / Total Sales in Region,Sales in Region / Total Sales in All Regions,Profit in Region / Total Profit in Region,Profit in Region / Total Profit in All Regions,Profit in Region / Sales in Region,Q1 2018.0 vs. Previous Year,Q1 vs. Q2 2018.0,Q1 2019.0 vs. Previous Year,Q1 vs. Q2 2019.0,Q1 2020.0 vs. Previous Year,Q1 vs. Q2 2020.0,Q1 2021.0 vs. Previous Year,Q1 vs. Q2 2021.0,Q1 nan vs. Previous Year,Q1 vs. Q2 nan
0,South,Furniture,29.944377,5.106142,14.484040,2.364273,5.772619,8375.508,-4224.6820,-2130.1720,380.3675,-3226.2860,3193.374,-1395.4200,10581.9265,0.0,0.0
1,South,Office Supplies,32.076662,5.469742,42.752163,6.978562,15.906235,3630.055,7980.0520,6011.1580,-4484.1400,-2413.5090,-2186.833,-3225.0460,5133.3280,0.0,0.0
2,South,Technology,37.978961,6.476207,42.763797,6.980461,13.437908,32256.636,-25493.4660,-31698.7420,3913.5340,13129.0560,-6558.417,-5671.0560,-32.0220,0.0,0.0
3,South,NaN,0.000000,0.000000,0.000000,0.000000,NaN,0.000,0.0000,0.0000,0.0000,0.0000,0.000,0.0000,0.0000,0.0,0.0
4,West,Furniture,34.821148,10.996514,10.611617,4.017133,4.554382,5223.295,3597.7360,5348.3510,-2570.5385,-5451.1760,13338.697,1691.6770,4937.3805,0.0,0.0
5,West,Office Supplies,30.443293,9.613988,48.524812,18.369552,23.821180,7131.852,-1090.9620,-3389.0020,4220.6680,4516.8810,-2647.709,6894.5110,-3248.1560,0.0,0.0
6,West,Technology,34.735559,10.969485,40.863571,15.469312,17.581383,2650.430,8030.9960,6528.1360,1044.4380,1758.2480,4766.348,18017.6560,-7621.3650,0.0,0.0
7,West,NaN,0.000000,0.000000,0.000000,0.000000,NaN,0.000,0.0000,0.0000,0.0000,0.0000,0.000,0.0000,0.0000,0.0,0.0
8,Central,Furniture,32.678397,7.130273,-7.230704,-1.002472,-1.752808,4584.958,3471.6886,1665.5296,462.6954,2971.3634,42.685,1499.4172,358.5948,0.0,0.0
9,Central,Office Supplies,33.322650,7.270846,22.364123,3.100584,5.316512,2546.476,4178.8060,-665.5300,7599.1200,4118.7160,3125.028,11332.1860,-5479.2680,0.0,0.0
10,Central,Technology,33.998952,7.418412,84.866580,11.765985,19.773595,1469.248,1155.9680,2167.6840,4148.9640,1353.2520,2380.055,7486.7570,-7470.6450,0.0,0.0
11,Central,NaN,0.000000,0.000000,0.000000,0.000000,NaN,0.000,0.0000,0.0000,0.0000,0.0000,0.000,0.0000,0.0000,0.0,0.0
12,East,Furniture,30.686058,9.067148,3.328314,1.063616,1.462455,4472.378,2562.8680,-165.7490,1918.2050,2681.3860,478.355,-2421.2460,5430.3870,0.0,0.0
13,East,Office Supplies,30.277215,8.946343,44.813520,14.320882,19.956873,1220.300,5647.1560,6574.0850,1924.9990,159.4810,6853.010,-1210.2670,6082.9430,0.0,0.0
14,East,Technology,39.036727,11.534613,51.858166,16.572112,17.911961,886.660,6274.8030,4158.1940,1714.1360,4788.0300,20060.527,-3091.4900,1946.4080,0.0,0.0
15,East,NaN,0.000000,0.000000,0.000000,0.000000,NaN,0.000,0.0000,0.0000,0.0000,0.0000,0.000,0.0000,0.0000,0.0,0.0
16,NaN,Furniture,NaN,0.000000,NaN,0.000000,NaN,0.000,0.0000,0.0000,0.0000,0.0000,0.000,0.0000,0.0000,0.0,0.0
17,NaN,Office Supplies,NaN,0.000000,NaN,0.000000,NaN,0.000,0.0000,0.0000,0.0000,0.0000,0.000,0.0000,0.0000,0.0,0.0
18,NaN,Technology,NaN,0.000000,NaN,0.000000,NaN,0.000,0.0000,0.0000,0.0000,0.0000,0.000,0.0000,0.0000,0.0,0.0
19,NaN,NaN,NaN,0.000000,NaN,0.000000,NaN,0.000,0.0000,0.0000,0.0000,0.0000,0.000,0.0000,0.0000,0.0,0.0